apiVersion: apps/v1
kind: Deployment
metadata:
  name: har-redis
  namespace: har-local
  labels:
    app: har-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: har-redis
  template:
    metadata:
      labels:
        app: har-redis
    spec:
      containers:
        - name: redis
          image: redis:7.2-alpine
          ports:
            - containerPort: 6379
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
